:root {
    --dark: rgb(19,19,19);
    --light: rgb(228, 228, 228); 
}




/* GLOBAL LAYOUT */

html {
    font-family: Inter, sans-serif;
    color: var(--dark);
    background-color: var(--light);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main {
    width: 100vw;
}

.section {
    padding: 32px;
}

.content {
    margin: auto;
    max-width: 1300px;
}

.image {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 10px;
    padding-bottom: 50px;
}

.image h5 {
    width: 15%;
}

.image img {
    max-width: 60%;
    max-height: 90%;
    margin-left: 10px;
    opacity: 0.8;
}

.gap {
    height: 2em;
}





/* NAVIGATION ARROWS */

/* #toHomepage, 
#scrollTop {
    display: none;
    background-image: url(./resources/symbol/arrow.svg);
    cursor: pointer;
    position: fixed;
    width: 60px;
    height: 60px;
    user-select: none;
    z-index: 99;
    bottom: 20px;
}

#toHomepage {
    transform: rotate(-90deg);
    left: 20px;
}

#scrollTop {
    display: none;
    right: 20px
}

#scrollTop.show {
    display: block;
    display: none;
} */







/* HEADER */

header .content {
    display: flex;
    justify-content: space-between;
}

header a {
    margin-left: 5px;
    text-decoration: none;
}

header s {
    user-select: none;
}

body.EN a.EN,
body.FR a.FR,
body.DE a.DE {
    font-weight: bold;
}








/* PROJECT */

#project .content {
    display: grid;
    grid-template-areas:
        'p2 p1'
        'p2 p0';
    gap: 20px;
}

#project .content > div {
    cursor: pointer;
    padding: 20px;
}

#project .content > div h3 {
    margin-bottom: 0.2em;
}

#liveUndergroundVienna {
    grid-area: p2;
    background-color:#A67FBB;
}
#synthesizer {
    grid-area: p1;
    background-color: #D68668;
}
#unfinishedVoyages {
    grid-area: p0;
    background-color: #729D9E;
}








/* ABOUT TEXT */

header {font-size: 28px;}
h1 {font-size: 64px;}
h2 {font-size: 56px;}
h3 {font-size: 48px;}
h4 {font-size: 32px;}
h5 {font-size: 24px;}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
}

.link {
    font-weight: 600;
}

a {
    color: inherit;
}
a:hover {
    text-decoration-thickness: 6px;
}

.tempo {
    display: none;
}






/* RESPONSIVENESS */

@media (max-width: 1250px) {
    header {font-size: 28px;}
    h1 {font-size: 64px;}
    h2 {font-size: 56px;}
    h3 {font-size: 48px;}
    h4 {font-size: 32px;}
    h5 {font-size: 24px;}
}

@media (max-width: 1000px) {
    header {font-size: 28px;}
    h1 {font-size: 56px;}
    h2 {font-size: 48px;}
    h3 {font-size: 40px;}
    h4 {font-size: 28px;}
    h5 {font-size: 20px;}

    .image img {
        max-width: 70%;
    }
}

@media (max-width: 800px) {
    .image h5 {
        width: 25%;
    }

    .tempo {
        display: block;
    }

    header {font-size: 24px;}
    h1 {font-size: 48px;}
    h2 {font-size: 40px;}
    h3 {font-size: 32px;}
    h4 {font-size: 28px;}
    h5 {font-size: 20px;}
}

@media (max-width: 600px) {
    .image {
        flex-direction: column-reverse;
        padding: 0;
    }
    
    .image img {
        max-width: 100%;
        margin: 0;
    }

    .image h5 {
        width: 100%;
        text-align: left;
    }

    .section {
        padding: 23px;
    }

    header {font-size: 20px;}
    h1 {font-size: 32px;}
    h2 {font-size: 24px;}
    h3 {font-size: 20px;}
    h4 {font-size: 20px;}
    h5 {font-size: 16px;}
}

@media (max-width: 400px) {

    #project .content {
        grid-template-areas:
            'p2'
            'p1'
            'p0';
        gap: 20px;
    }
}

/* @media (max-width: 1300px) {
    h1 {font-size: 64px;}
    h2 {font-size: 56px;}
    h3 {font-size: 40px;}
    h4 {font-size: 24px;}
}

@media (max-width: 1000px) {
    img {
        float: none;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 30px;
    }

    #work {
        flex-direction: column;
        margin: 28px;
    }

    #work .project {
        margin-right: 0;
        margin-left: 0;
        aspect-ratio: 2.1 / 1;
        outline-width: 3px;
    }


    header, 
    .section {
        margin: 28px;
    }

    h4 {font-size: 32px;}
}

@media (max-width: 800px) {
    header {font-size: 24px;}
    h1 {font-size: 56px;}
    h2 {font-size: 40px;}
    h3 {font-size: 32px;}
    h4 {font-size: 16px;}
}

@media (max-width: 600px) {
    header {font-size: 20px;}
    h1 {font-size: 40px;}
    h2 {font-size: 24px;}
    h3 {font-size: 24px;}
    h4 {font-size: 16px;}

    #toHomepage, 
    #scrollTop {
        width: 40px;
        height: 40px;
    }
} */


