:root {
    --dark: rgb(19,19,19);
    --light: rgb(242, 242, 242); 
}

html {
    font-family: Inter, sans-serif;
    color: var(--dark);
    background-color: var(--light);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}



header {font-size: 28px;}
h1 {font-size: 80px;}
h2 {font-size: 64px;}
h3 {font-size: 48px;}
h4 {font-size: 32px;}

h1, h2, h3, h4 {
    font-weight: 400;
    margin-top: 0;
}

.section h1 {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

header a {
    margin-left: 5px;
}

.link {
    user-select: none;
}
.link a:hover {
    text-decoration: underline;
}

header a:hover,
body.EN a.EN,
body.FR a.FR,
body.DE a.DE {
    font-weight: bold;
}

#toHomepage, 
#scrollTop {
    background-image: url(./symbol/arrow.svg);
    cursor: pointer;
    position: fixed;
    width: 60px;
    height: 60px;
    user-select: none;
    z-index: 99;
    bottom: 20px;
}

#toHomepage {
    transform: rotate(-90deg);
    left: 20px;
}

#scrollTop {
    display: none;
    right: 20px
}

#scrollTop.show {
    display: block;
}





header, 
.section {
    margin: 64px;
    max-width: 1600px;
    z-index: 1;
}

header {
    display: flex;
    justify-content: space-between;
}

.space {
    height: 100px;
}




#work {
    display: flex;
    justify-content: space-between;
}

#work .project {
    flex: 1;
    background-color: var(--light);
    aspect-ratio: 1 / 1.6;
    margin: 15px;
    outline: 4px solid var(--dark);
    background-size: cover;
}

#work div {
    position: relative;
    cursor: pointer;
}

#work .text {
    position: absolute;
    bottom: 0;
    margin: 15px 15px 15px 15px;
}

#work .text h3,
#work .text h4 {
    margin-bottom: 0;
}

#liveUndergroundVienna {
    background-image: url(./img/liveUndergroundVienna.svg);
}

#unfinishedVoyages {
    background-image: url(./img/unfinishedVoyages.svg);
}

#synthesizer {
    background-image: url(./img/synthesizer.svg);
}




@media (max-width: 1300px) {
    h1 {font-size: 64px;}
    h2 {font-size: 56px;}
    h3 {font-size: 40px;}
    h4 {font-size: 24px;}
}

@media (max-width: 1000px) {
    #work {
        flex-direction: column;
        margin: 28px;
    }

    #work .project {
        margin-right: 0;
        margin-left: 0;
        aspect-ratio: 2.1 / 1;
        outline-width: 3px;
    }


    header, 
    .section {
        margin: 28px;
    }

    h4 {font-size: 32px;}
}

@media (max-width: 800px) {
    header {font-size: 24px;}
    h1 {font-size: 56px;}
    h2 {font-size: 40px;}
    h3 {font-size: 32px;}
    h4 {font-size: 16px;}
}

@media (max-width: 600px) {
    header {font-size: 20px;}
    h1 {font-size: 40px;}
    h2 {font-size: 24px;}
    h3 {font-size: 24px;}
    h4 {font-size: 16px;}

    #toHomepage, 
    #scrollTop {
        width: 40px;
        height: 40px;
    }
}


